// -----------------------------------------------
// --------------MAIN SETTINGS--------------------
// -----------------------------------------------
@import "./../imports.scss";
@import "./../../scss/base/fonts";
@import "./../frameworks/normalize.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: $base_ff;
    font-size: $base_fz;
    font-style: normal;
    line-height: 100%;
    background: $base_bg;
    overflow-x: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    &.no-scroll {
        position: fixed;
        overflow: hidden;
    }

    &.locked {
        overflow-y: hidden;
    }
}

//? Общая обёртка
.full-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
    min-height: 100vh;
}

//? Размеры контейнеров
.goldy-container {
    width: 100%;
    max-width: 1340px;
    position: relative;
    padding: 0 20px;
    margin: 0 auto;
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    cursor: default;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

a {
    font-family: inherit;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s linear;

    &:hover {
        opacity: $base_hover;
        transition: all 0.3s linear;
    }
}

span {
    display: inline-block;
}

button {
    outline: none;
    border: transparent;
    background: transparent;
}

ul,
ol {
    list-style-type: none;
}

input,
textarea {

    &:focus,
    :active {
        outline: none;
    }
}

// ------------------------------------------------
// -------------------Buttons----------------------
// ------------------------------------------------


.g-btn {
    padding: 20px 56px;
    text-transform: uppercase;
    text-align: center;
    min-width: 200px;
    cursor: pointer;
    @include tr;
}

.g-btn-dark {
    @include fs($ff_I, 14px, $white, 500);
    background-color: $primary;

    &:hover {
        background-color: $btn-hover;
        @include tr;
    }

    &:active {
        background-color: $btn-pressed;
    }
}

.g-btn-light {
    @include fs($ff_I, 14px, $primary, 500);
    background-color: $white;

    &:hover {
        background-color: $primary;
        @include tr;
    }

    &:active {
        background-color: $btn-pressed;
    }
}

.g-btn--large {
    width: 100%;
}

// ------------------------------------------------
// ----------------Navigation----------------------
// ------------------------------------------------

.navigation__prev,
.navigation__next {
    width: 54px;
    height: 54px;
    border: 1px solid $primary;
    border-radius: 50%;
    background-color: #f8f8f8;
    @include tr;

    &:hover {
        background-color: #f5f5f5;
        @include tr;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background: url("@/assets/img/icons/slider-arrow.svg") no-repeat center;
        @include tr;
    }
}

.navigation {
    &__prev {
        &::before {
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:active {
            &::before {
                left: calc(50% - 8px);
                transform: translate(-50%, -50%);
                @include tr-fast;
            }
        }
    }

    &__next {
        &::before {
            left: 50%;
            transform: translate(-50%, -50%) scale(-1, 1);
        }

        &:active {
            &::before {
                left: calc(50% + 8px);
                transform: translate(-50%, -50%) scale(-1, 1);
                @include tr-fast;
            }
        }
    }
}

@media screen and (max-width: 678px) {

    .navigation__prev,
    .navigation__next {
        border: none;
        background: transparent;

        &:hover {
            background-color: transparent;
        }
    }

    .navigation__prev {
        left: var(--swiper-navigation-sides-offset, -10px);
    }

    .navigation__next {
        right: var(--swiper-navigation-sides-offset, -10px);
    }
}

// ------------------------------------------------
// -----------------KEYFRAMES----------------------
// ------------------------------------------------

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
