// Base colors
$white: #ffffff;
$black: #0d0d0d;
$primary: #303030;
$secondary: #8F8F8F;
$other: #F8F8F8;

// Action colors
$btn-hover: #505050;
$btn-pressed: #000000;

// Font Size
$base_fz: 1.3rem;
$base_ff: "Inter", sans-serif;
$base_hover: 0.5; // opacity
$base_bg: #ffffff;

//? Fonts
$ff_I: "Inter";
$ff_P: "Prata";

//? Style
$I: italic;
$O: oblique;

//? Weight
$th: 100; // Thin
$el: 200; // Extra Light
$l: 300; // Light
$r: 400; // Regular
$m: 500; // Medium
$sb: 600; // SemiBold
$b: 700; // Bold
$eb: 800; // Extra Bold
$bl: 900; // Super
